@use "../utils/box-shadow.scss";

.functioning {
    padding: 0 20px;
    margin-top: 40px;
    counter-reset: tutos;
    h2 {
        padding-bottom: 20px;
    }
    ol {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
        padding-left: 20px;
        @media (max-width: 912px) {
            flex-direction: column;
        }
    }
    li {
        &::before {
            content: counter(tutos);
            counter-increment: tutos;
            color: white;
            background-color: #9356dc;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: -15px;
            top: 17px
        }
        position: relative;
        background-color: #f6f6f6;
        padding: 24px 32px;
        flex-grow: 1;
        border-radius: 16px;
        @include box-shadow.shadow;
        &:hover {
            background-color: #f2eafb;
        }
        i {
            margin-right: 16px;
        }
    }
}