@use "../utils/box-shadow.scss";
@use "../utils/mixins.scss";

header {
    .fa-arrow-left {
    font-size: 25px;
    position: absolute;
    color: black;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
}
}

.banner img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    display: block;
    @media (min-width: 992px)  {
        height: 50vh;
    }
}

.menu-restaurant {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    border-radius: 25px 25px 0 0;
    margin-top: -25px;
    margin-bottom: 0;
    padding: 10px 20px;
    z-index: 2;
    position: relative;
    @media (min-width : 992px) {
        width: 60%;
        margin: -50px auto 0 auto;
        box-shadow: 0px 0px 25px -6px rgb(112 112 112);
    }
    .menu-restaurant_title {
        position: relative;
        h2 {
        font-family: "Shrikhand", cursive;
        margin-left: 20px;
        }
    }
    .menu_restaurant_icon {
        position: absolute;
        font-size: 32px;
        right: 30px;
        top: 50%;
        transform: translateY(-50%)
    }
    &_list {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        @keyframes appear {
            0% {
                opacity: 0;
                transform: translateY(20px);
            }
            100% {
                visibility: visible;
                opacity: 1;
                transform: translateY(0);
            }
        }
        @for $i from 1 through 3 {
            .appear-delay-#{$i} {
                @include mixins.appear-animation;
                animation-delay: $i*0.2s;
            }
        }
        ul {
        list-style-type: none;
        padding: 0;
        margin: 10px 0;
        li{
            height: 70px;
            border-radius: 1rem;
            box-shadow: 0 5px 15px #00000033;
            overflow: hidden;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            .menu_category {
                padding: 10px 15px;
                max-width: 100%;
                min-width: 0;
                flex: 1;
                h2 {
                    font-size: 18px;
                    margin: 0;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                div {
                    display: flex;
                    justify-content: space-between;
                    p {
                        font-size: 17px;
                        max-width: calc(100% - 40px);
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        flex: 1;
                        margin: 5px 0 0 0;
                    }
                    span {
                        width: 40px;
                        font-weight: bold;
                        margin-top: 5px;
                    }
                }
            }
            .box-animation{
                width: 0;
                position: relative;
                background: #99e2d0;
                height: 100%;
                transition: width 1s;
                .check-animation {
                    margin: auto;
                    position: absolute;
                    left: 33%;
                    top: 30%;
                    color: #fff;
                    font-size: 26px;
                    transition: transform 1s;
                }
            }
            &:hover {
                .box-animation {
                    width: 80px;
                }
                .check-animation {
                    transform: rotate(360deg);
                }
            }
        }
    }
        p {
            margin: 0;
        }
        &_span {
            width: 40px;
            border-bottom: #99E2D0 3px solid;
            margin: 4px 0 10px 0;
        }
    }
    button {
        display: flex;
        justify-content: center;
        align-self: center;
        width: 250px;
        background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
        color: white;
        padding: 20px 30px;
        border-radius: 30px;
        border: 0;
        margin: 30px 0;
        font-size: 20px;
        @include box-shadow.shadow;
        transition: transform 0.3s;
        &:hover{
            transform: scale(1.02);
            opacity: 0.9;
            box-shadow: 0px 8px 20px 0px rgb(0 0 0 / 35%);
            cursor: pointer;
        }
    }
}


