header .fa-arrow-left {
    font-size: 25px;
    position: absolute;
    color: black;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.banner img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    display: block;
    @media (min-width: 992px)  {
        height: 50vh;
    }
}

.menu-restaurant {
    background-color: #f6f6f6;
    .menu-restaurant_title {
        position: relative;
        padding: 10px 20px;
        background-color: #f6f6f6;
        border-radius: 25px 25px 0 0;
        margin-top: -25px;
        h2 {
        font-family: "Shrikhand", cursive;
        }
    }
    .menu_restaurant_icon {
        position: absolute;
        font-size: 32px;
        right: 30px;
        top: 50%;
        transform: translateY(-50%)
    }
    &_list {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        .menu_category {
            display: flex;
            justify-content: center;
        }
    }
}
