footer {
    background-color: rgb(56, 56, 56);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 50px;
    a {
        text-decoration: none;
        color: #f6f6f6;
        margin-bottom: 8px;
        .fa-utensils {
            margin-right: 12px;
        }
        i {
            margin-right: 5px;
            .fa-handshake-angle {
                font-size: 14px;
            }
        }
        &:hover {
            color: #FF79DA;
        }
    }
    .logo {
        font-family: "Shrikhand", cursive;
        margin: 15px 0;
        font-size: 22px;
    }
    @media (min-width: 768px) {
        align-items: center;
        a .fa-utensils {
            margin-right: 6px;
        }
    }
}