@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
  padding: 6px;
  position: relative;
}

.city {
  background-color: #f3f3f3;
  padding: 8px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  color: #5f5f5f;
}
.city h2 {
  font-weight: normal;
}
.city i {
  font-size: 20px;
}

.explorer {
  text-align: center;
  background-color: #fdfdfd;
  padding-bottom: 40px;
}
.explorer h2 {
  padding-top: 40px;
  font-size: 30px;
  margin-top: 0;
}
.explorer p {
  color: #5f5f5f;
}
.explorer button {
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  color: white;
  padding: 20px 30px;
  border-radius: 30px;
  border: 0;
  margin-top: 20px;
  font-size: 20px;
  box-shadow: 2px 1px 8px -3px black;
  transition: transform 0.3s;
}
.explorer button:hover {
  transform: scale(1.02);
  opacity: 0.9;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

.functioning {
  padding: 0 50px;
  margin-top: 40px;
  counter-reset: tutos;
}
.functioning h2 {
  padding-bottom: 20px;
}
.functioning ol {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-left: 20px;
}
@media (min-width: 992px) {
  .functioning ol {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.functioning li {
  position: relative;
  background-color: #f6f6f6;
  padding: 24px 32px;
  font-weight: bold;
  flex-grow: 1;
  border-radius: 16px;
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
}
.functioning li::before {
  content: counter(tutos);
  counter-increment: tutos;
  color: white;
  background-color: #9356dc;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
}
.functioning li:hover {
  background-color: #f2eafb;
  transform: scale(1.02);
  transition: 0.3s;
}
.functioning li:hover i {
  color: #9356dc;
}
.functioning li i {
  margin-right: 16px;
  color: grey;
  font-size: 20px;
}

.restaurant {
  background-color: #f6f6f6;
  margin-top: 50px;
  padding: 0 50px;
}
.restaurant h2 {
  padding-top: 50px;
  margin-bottom: 0;
}
.restaurant .restaurant_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
@media (min-width: 768px) {
  .restaurant .restaurant_cards {
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .restaurant .restaurant_cards {
    max-width: 100%;
  }
}
.restaurant .restaurant_cards a {
  text-decoration: none;
}
.restaurant .restaurant_cards .new {
  position: relative;
}
.restaurant .restaurant_cards .new::before {
  content: "Nouveau";
  position: absolute;
  background-color: #99E2D0;
  color: #1b6150;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  top: 16px;
  right: 16px;
}
.restaurant .restaurant_card {
  flex-direction: column;
  height: 250px;
  width: 100%;
  background-color: white;
  margin-top: 20px;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  color: black;
  position: relative;
  transition: transform 0.3s;
}
@media (min-width: 768px) {
  .restaurant .restaurant_card {
    width: 48%;
  }
}
@media (min-width: 992px) {
  .restaurant .restaurant_card {
    width: 23%;
    display: flex;
  }
}
.restaurant .restaurant_card img {
  object-fit: cover;
  object-position: 50% 60%;
  height: 175px;
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.restaurant .restaurant_card h3 {
  margin: 10px 0 2px 10px;
}
.restaurant .restaurant_card span {
  margin: 0 0 10px 10px;
}
.restaurant .restaurant_card .fas {
  color: transparent;
  background-image: linear-gradient(to top, #ff79da, #9356dc);
  -webkit-background-clip: text;
  background-clip: text;
  opacity: 0;
  transition: 0.6s;
}
.restaurant .restaurant_card .fas:hover {
  opacity: 1;
}
.restaurant .restaurant_card .fa-heart {
  position: absolute;
  font-size: 24px;
  right: 16px;
  top: 85%;
  transform: translateY(-85%);
}
.restaurant .restaurant_card:hover {
  transform: scale(1.03);
}

footer {
  margin-top: 50px;
  background-color: #383838;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 50px;
}
footer a {
  text-decoration: none;
  color: #f6f6f6;
  margin-bottom: 8px;
}
footer a .fa-utensils {
  margin-right: 12px;
}
footer a i {
  margin-right: 5px;
}
footer a i .fa-handshake-angle {
  font-size: 14px;
}
footer a:hover {
  color: #FF79DA;
}
footer .logo {
  font-family: "Shrikhand", cursive;
  margin: 15px 0;
  font-size: 22px;
}
@media (min-width: 768px) {
  footer {
    align-items: center;
  }
  footer a .fa-utensils {
    margin-right: 6px;
  }
}

header .fa-arrow-left {
  font-size: 25px;
  position: absolute;
  color: black;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
}

.banner img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  display: block;
}
@media (min-width: 992px) {
  .banner img {
    height: 50vh;
  }
}

.menu-restaurant {
  background-color: #f6f6f6;
}
.menu-restaurant .menu-restaurant_title {
  position: relative;
  padding: 10px 20px;
  background-color: #f6f6f6;
  border-radius: 25px 25px 0 0;
  margin-top: -25px;
}
.menu-restaurant .menu-restaurant_title h2 {
  font-family: "Shrikhand", cursive;
}
.menu-restaurant .fa-heart {
  position: absolute;
  font-size: 32px;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}
.menu-restaurant .fas {
  color: transparent;
  background-image: linear-gradient(to top, #ff79da, #9356dc);
  -webkit-background-clip: text;
  background-clip: text;
  opacity: 0;
  transition: 0.6s;
}
.menu-restaurant .fas:hover {
  opacity: 1;
}
.menu-restaurant_list {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.menu-restaurant_list .menu_category {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
